body {
  font-family: Cabin, sans-serif;
}

.bg-image {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    url(../images/vr-glasses.jpg);
  background-position: 100% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.buttons {
  margin-top: 8rem;
}

.buttons a {
  text-decoration: none;
}

.btn-primary {
  border: none;
  border-radius: 20px;
}

.btn-blauw:hover {
  background-color: #1363a1;
}

.btn-groen:hover {
  background-color: #2b661f;
}

.btn-oranje:hover {
  background-color: #9e5503;
}

.btn-geel:hover {
  background-color: #9f7c18;
}

.btn-primary:active {
  border: none;
}

.btn-blauw {
  background-color: #5193c7;
  color: #fff;
}

.btn-groen {
  background-color: #629856;
  color: #fff;
}

.btn-oranje {
  background-color: #e99434;
  color: #fff;
}

.btn-geel {
  background-color: #e2be59;
  color: #fff;
}

.margin-top {
  margin-top: 20px !important;
}

.margin-top-feedback {
  margin-top: 5rem;
}

.feedback-image {
  max-width: 100%;
  border-radius: 15px;
}

.center {
  text-align: center;
}

.title {
  padding-top: 4rem;
  color: #5193c7;
}

.title-padding {
  padding-top: 4rem;
}

.feedback-text {
  font-size: 20px;
  background-color: #d8ecfb;
  padding: 15px;
  border-radius: 15px;
}

.language-switch {
  position: absolute;
  top: 10px;
  right: 20px;
}

.buttons-feedback {
  margin-top: 20px;
}

.terug {
  background: #ef0117;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: -80px;
  top: -80px;
  text-align: center;
  color: #fff;
  padding-top: 115px;
  padding-left: 50px;
  text-transform: uppercase;
  font-weight: bold;
}


  .btn-vote {
    height: 30vh;
    font-size: 20vh;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-vote {
    display: block;
    position: absolute;
    top: 10%;
  }
/*
  buzz-blauw: #5193C7
  buzz-oranje: #E99434
  buzz-groen: #629856
  buzz-geel: #E2D459
  buzz-rood: #EF0117
  more-oranje: #E73E16
  more-blauw: #0091A6
*/
